body {
    background: #f0fafa;
    color: #333333;
    margin-top: 12rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-violet {
    background-color: #451e3e;
}

.btn-outline-violet {
    color: #f0fafa;
    border-color: #451e3e;
}

.btn-outline-violet:hover {
    color: #401e3e;
    border-color: #401e3e;
}

.btn-violet {
    color: #451e3e;
    border-color: #451e3e;
}

.btn-violet:hover {
    color: #401e3e;
    border-color: #401e3e;
}

.btn-link-own {
    color: white;
    text-decoration: underline;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid  #A8A8A8;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 45px;
    width: 45px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.footer {
    width: 100%;
    text-align: center;
}

.alert-quotes {
    color:white;
    background-color:#451e3e;
    border-color: #451e3e;
    /*opacity: 0.8;*/
}

/* for login template */

.card {
background: #451e3e;
padding: 10px 20px;
border: 1px solid  #A8A8A8;
border-radius: 8px;
margin-bottom: 20px;
}

.card-header h3{
color: #ffffff;
}

input:focus{
outline: none;
box-shadow: 0 0 0 0 !important;

}

.form-check{
color: white;
}

.form-check input
{
transform: scale(1.5);
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #ffc312;
width: 100px;
margin-top: 10px;
}

.login_btn:hover{
color: black;
background-color: #ebb002;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.invalid-feedback {
    color: white;
}

.form-control {
    border-color: #451e3e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus{
    border-color: #451e3e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control.is-invalid{
    border-color: #451e3e;
    background-image: none;
}


.form-control.is-invalid:focus{
    border-color: #451e3e;
    background-image: none;
}

.invalid-feedback-fix {
    display: flex;
}

/* for user_profile page*/

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

/*body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95); 
    min-height: 100vh
}*/


/* for posts list */

/*
body {
    font-family: 'Rubik', sans-serif;
    height: 100% !important;
    background-color: #3F51B5 !important
}

#star {
    margin-left: -5px !important;
    vertical-align: bottom !important;
    opacity: 0.5
}

.more {
    opacity: 0.5 !important
}

.btn:hover {
    color: black !important
}

.vl {
    margin: 8px !important;
    width: 2px;
    border-right: 1px solid #aaaaaa;
    height: 25px
}

#plus {
    opacity: 0.8
}

.card {
    border-radius: 10px !important
}

a:hover {
    background-color: #ccc !important
}

.btn-outlined:active {
    color: #FFF;
    border-color: #fff !important
}

img {
    cursor: pointer;
    overflow: visible
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important
}

.container {
    margin-top: 100px !important
}
*/
