html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f0fafa;
    color: #333333;
    margin-top: 6rem;
    background-image: url('village_road.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* to set plain background remove last 4 lines */


.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

a, a:active, a:focus, button, button:active, button:focus {
    outline: none;
}

.name-city-shadow {
    text-shadow: 2px 0 0 black;
}

.bg-violet {
    background-color: #451e3e;
}

.btn-outline-violet {
    color: #451e3e;
    border-color: #451e3e !important;
}

.btn-outline-violet:hover {
    background-color: #451e3e;
    color: white;
}

.btn-outline-violet:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #451e3e;
    color: white;
}

.btn-violet {
    color: white;
    border-color: #451e3e !important;
    background-color: #451e3e;
}

.btn-violet:hover {
    color: white;
    background-color: #63345b;
}

.btn-filter {
    border-color: white;
    color: #777777;
}

.btn-filter:hover {
    border-color: white;
    color: #777777;
}

.btn-filter:focus {
    border-color: white;
    color: #777777;
}

.btn-drop-grey {
    background-color: #dddddd;
    color: #333333;
    margin-bottom: 2px;
    border-color: #aaaaaa !important;
}

.btn-drop-grey:hover {
    background-color: #dddddd;
    color: #333333;
    border-color: #aaaaaa;
}

.btn-drop-grey:focus {
    background-color: #dddddd;
    color: #333333;
    border-color: #aaaaaa;
}

.btn-link-own {
    color: white;
    text-decoration: underline;
}

.btn-order {
    min-height: 45px;
    min-width: 102px;
    max-width: 130px;
}

.btn-lg {
    padding: .375rem .75rem;
}

.dropdown-menu {
    min-width: 0px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.list-group a {
    text-decoration: none;
}

.list-group-item-light {
    background-color: #f8f9fa;
}

.link-post-content a {
    color: #444444;
    text-decoration: none;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.input-group {
    background-color: white;
    border-radius: 6px;
}

.navbar-helper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-form {
    max-width: 700px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.alert-quotes {
    color:white;
    background-color:#451e3e;
    border-color: #451e3e;
}

/* for post item */
.card-footer:last-child {
    border-radius: 15px;
}

/* for login template */

.card {
background: #451e3e;
padding: 10px 20px;
border: 1px solid  #dddddd;
border-radius: 8px;
margin-bottom: 20px;
}

.card-nf {
    border: 1px solid  white;
}

.card-form {
    border-color: #451e3e;
}

.card-header h3{
color: #ffffff;
}

input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-check{
color: white;
padding-left:  5px;
}

.form-check input
{
transform: scale(1.5);
margin-right: 5px;
margin-left: 0px;
}

.btn-login{
color: black;
background-color: #ffc312;
border-color:#ffc312 !important;
width: 100px;
margin-top: 10px;
}

.btn-login:hover{
color: black;
background-color: #ebb002;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.invalid-feedback-white {
    color: white;
}

.invalid-feedback-yellow {
    color:#ffc312;
}

.invalid-feedback-fix {
    display: flex;
}

.form-control.is-invalid{
    border-color: white;
    background-image: none;
}

.form-control.is-invalid:focus{
    border-color: white;
    background-image: none;
}

.btn {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus{
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* for user_profile page*/

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
}

/* for posts list */

.vl {
    margin: 0px !important;
    width: 1px;
    border-right: 1px solid #aaaaaa;
    height: 25px
}

.btn-outlined:active {
    color: #FFF;
    border-color: #fff !important
}

.img-profile {
    cursor: pointer;
    overflow: visible
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
}

/* button add a file */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-add-file {
    border: 2px solid #451e3e;
    color: #451e3e;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
