{% extends "main/layout.html" %}
{% block content %}
<div class="col-lg-8 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="container d-flex justify-content-center no-matching px-5">
            <img src="{{ url_for('static', filename='icons_photos/no_results_found.png') }}" class="img-fluid">
        </div>
        <div class="container d-flex justify-content-center text-center no-matching mb-5">
            <h2 class="not-found-color"><b>404 Not Found</b></h2>
        </div>
    </div>
</div>
{% endblock content %}
