{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="card card-form col-md-7 mt-5">
                    <div class="card-header">
                        <h3>New Adage</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }} <!-- sets a csrf token (secret key) -->
                            <div class="form-group">
                                {% if form.content.errors %}
                                    {{ form.content(rows="2", class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback invalid-feedback-yellow">
                                        {% for error in form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.content(rows="2", class="form-control form-control-lg", placeholder=form.content.label.text) }}
                                {% endif %}
                                <script type="text/javascript">
                                    $('#content').on('input', function () {
                                        this.style.height = 'auto';
                                        this.style.height = (this.scrollHeight) + 'px';
                                    });
                                </script>
                            </div>
                            <div class="form-group pt-4">
                                {% if form.author.errors %}
                                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback invalid-feedback-yellow">
                                        {% for error in form.author.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.author(class="form-control form-control-lg", placeholder=form.author.label.text) }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn float-right btn-login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
