{% block best_trending %}
    <div class="content-section">
        <div class="mb-3 text-center">
            <h3>Best Adages</h3>
        </div>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">"Memento mori"</li>
        <li class="list-group-item list-group-item-light">"Today is a new day"</li>
        <li class="list-group-item list-group-item-light">"Carpe diem"</li>
        <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
        </ul>
        </p>
    </div>
    <div class="content-section">
        <div class="mb-3 text-center">
            <h3>Trending</h3>
        </div>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">"Ja nie dam rady?"</li>
        <li class="list-group-item list-group-item-light">"Today is a new day"</li>
        <li class="list-group-item list-group-item-light">"Carpe diem"</li>
        <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
        </ul>
        </p>
    </div>
{% endblock best_trending %}
