{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <!-- posts -->
    <div class="mx-auto">
        <div class="container py-4 px-4 mb-4 bg-white shadow rounded overflow-hidden">
            {% for post in posts_data %}
                <div class="card rounded shadow bg-light py-2 mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 link-post-content">
                                <a href="{{ url_for('posts.post', post_id=post[-2].id) }}"><h3 class="card-title "><b>"{{ post[-2].content | safe }}"</b></h3></a>
                            </div>
                            <div class="col-12 d-flex justify-content-end text-center">
                                <h6><i>{{ post[-2].author }}</i></h6>
                            </div>
                            <div class="col mt-2">
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <p class="card-text text-muted small"> Posted by <a href="{{ url_for('users.user_profile', username=post[-2].posted_by.username) }}" class="font-weight-bold text-dark"> {{ post[-2].posted_by.username }}</a> on {{ post[-2].date_posted.strftime('%-d %a, %Y') }}</p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white p-1">
                        <div class="row">
                            <div class="col-md-auto ">
                                <a href="{{ url_for('posts.post', post_id=post[-2].id) }}" class="btn btn-outlined btn-black text-muted bg-transparent p-1 ml-1 mr-2" data-wow-delay="0.7s">
                                    <img src="{{ url_for('static', filename='comment.png') }}" class="mr-1 " width="19" height="19">
                                    <small>COMMENT</small>
                                </a>
                                <span class="vl mr-2 ml-0"></span>
                                <a href="{{ url_for('main.home', page=posts.page, star=post[-2].id) }}" class="btn btn-outlined btn-black text-muted bg-transparent p-1 ml-2 mr-0" data-wow-delay="0.7s">
                                {% if post[-1] == True %}
                                    <img src="{{ url_for('static', filename='christmas-star.png') }}" width="19" height="19">
                                {% else %}
                                    <img src="{{ url_for('static', filename='star.png') }}" width="19" height="19">
                                {% endif %}
                                </a>
                                <small>STARS</small>
                            </div>
                            <div class="col-md-auto">
                                <ul class="list-inline mb-0">
                                    {% for user in post[:-2] %}
                                    <li class="list-inline-item">
                                        <a href="{{ url_for('users.user_profile', username=user.username) }}" >
                                            <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="DP" class=" rounded-circle" width="35" height="35">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container d-flex justify-content-center">
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if posts.page == page_num %}
                        <a class="mr-1 mb-4 btn btn-violet" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="mr-1 mb-4 btn btn-outline-violet" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div> 
        </div>
    <!-- posts -->
    </div>
</div>
<div class="col-md-4">
    <div class="content-section shadow">
        <div class="mb-3 text-center">
            <h3>Best List</h3>
        </div>
        <ul class="list-group">
            {% if not best_posts %}
                <a href="{{ url_for('posts.new_post') }}"><li class="list-group-item list-group-item-light">No Adages. Add one.</li></a>
            {% else %}
                {% for post in best_posts %}
                    <a href="{{ url_for('posts.post', post_id=post.id) }}" class="p-1"><li class="list-group-item list-group-item-light">"{{ post.content | safe }}"</li></a>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="content-section shadow">
        <div class="mb-3 text-center">
            <h3>Trending</h3>
        </div>
        <ul class="list-group">
            {% if not trend_posts %}
            <a href="{{ url_for('posts.new_post') }}"><li class="list-group-item list-group-item-light">No activity. Add an Adage or give a star.</li></a>
            {% else %}
                {% for post in trend_posts %}
                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="p-1"><li class="list-group-item list-group-item-light">"{{ post.content | safe }}"</li></a>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}
