{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="...">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Posted by </small>
                    <a class="mr-2" href="">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <h6>{{ post.author }}</h6>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page.num %}
                <a class="btn btn-violet mb-4" href="">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-violet mb-4" href="">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
</div>
<div class="col-md-4">
    <div class="content-section">
        <div class="mb-3 text-center">
            <h3>Best</h3>
        </div>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">"Memento mori"</li>
        <li class="list-group-item list-group-item-light">"Today is a new day"</li>
        <li class="list-group-item list-group-item-light">"Carpe diem"</li>
        <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
        </ul>
        </p>
    </div>
    <div class="content-section">
        <div class="mb-3 text-center">
            <h3>Trending</h3>
        </div>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">"Ja nie dam rady?"</li>
        <li class="list-group-item list-group-item-light">"Today is a new day"</li>
        <li class="list-group-item list-group-item-light">"Carpe diem"</li>
        <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
        </ul>
        </p>
    </div>
</div>
{% endblock content %}
