{% extends "layout.html" %}
{% block content %}
<div class="col-md-8 pb-4">
    <div class="mx-auto">
        <div class="container pt-5 px-4 bg-white shadow rounded overflow-hidden">
            <div class="p-2 mb-4 rounded shadow bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 link-post-content">
                            <h3 class="card-title "><b>"{{ post_data[-2].content }}"</b></h3>
                        </div>
                        <div class="col-12 d-flex justify-content-end text-center">
                            <h6><i>{{ post_data[-2].author }}</i></h6>
                        </div>
                        <div class="col">
                            <h6 class="card-subtitle mt-2 text-muted">
                                <p class="card-text text-muted small"> Posted by <a href="{{ url_for('users.user_profile', username=post_data[-2].posted_by.username) }}" class="font-weight-bold text-dark"> {{ post_data[-2].posted_by.username }}</a> on {{ post_data[-2].date_posted.strftime('%-d %a, %Y') }}</p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white p-1">
                    <div class="row">
                        <div class="col-md-auto ">
                            <!-- <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                <img src="{{ url_for('static', filename='comment.png') }}" class="mr-1 " width="19" height="19">
                                <small>COMMENT</small>
                            </a>
                            <span class="vl mr-2 ml-0"></span> -->
                            <a href="{{ url_for('posts.post', post_id=post_data[-2].id, page=comments.page, starp=post_data[-2].id) }}" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                            {% if post_data[-1] == True %}
                                <img src="{{ url_for('static', filename='christmas-star.png') }}" class="mr-1" width="19" height="19">
                            {% else %}
                                <img src="{{ url_for('static', filename='star.png') }}" class="mr-1" width="19" height="19">
                            {% endif %}
                            </a>
                            <small>STARS</small>
                        </div>
                        <div class="col-md-auto">
                            <ul class="list-inline mb-0">
                                {% for user in post_data[:-2] %}
                                <li class="list-inline-item">
                                    <a href="{{ url_for('users.user_profile', username=user.username) }}" >
                                        <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="DP" class="rounded-circle" width="35" height="35">
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container px-0 pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Comments</h5>
                        </div>
                        <form method="POST" action="" enctype="multipart/form-data"> <!-- enctype added in order to pass an image data properly -->
                            {{ form.hidden_tag() }} <!-- sets a csrf token (secret key) -->
                            <fieldset class="form-group">
                                <div class="p-2 rounded shadow bg-light">
                                    <div class="media">
                                        <a href="{{ url_for('users.user_profile', username=current_user.username) }}">
                                            <img class="mt-2 mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="DP" width="35" height="35">
                                        </a>
                                        <div class="media-body">
                                            {% if form.content.errors %}
                                                {{ form.content(rows="1", class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.content.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.content(rows="1", class="form-control form-lg", placeholder='Add a comment...') }}
                                            {% endif %}
                                            <script type="text/javascript">
                                                $('#content').on('input', function () {
                                                    this.style.height = 'auto';
                                                    this.style.height = (this.scrollHeight) + 'px';
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="d-flex form-group mb-0 mt-2 mr-4 justify-content-end">
                                        {{ form.submit(class="btn btn-violet") }}
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- comments -->
            <div class="container pt-4 px-0">
                {% for comment in comments_data %}
                <div class="row justify-content-center py-2">
                    <div class="col-lg-10">
                        <div class="p-2 rounded shadow-sm bg-light">
                            <div class="media">
                                <a href="{{ url_for('users.user_profile', username=current_user.username) }}">
                                    <img class="mt-2 mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="DP" width="35" height="35">
                                </a>
                                <div class="media-body">
                                    <p class="text-muted small"> Added by <a href="{{ url_for('users.user_profile', username=comment[-2].comment_author.username) }}" class="font-weight-bold text-dark"> {{ comment[-2].comment_author.username }}</a> on {{ comment[-2].date_comment.strftime('%-d %a, %Y') }}</p>
                                    {{comment[-2].content | safe}}
                                </div>
                            </div>
                            <div class="card-footer bg-white mt-3 p-0">
                                <div class="row">
                                    <div class="col-md-auto ">
                                        <!-- <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                            <img src="{{ url_for('static', filename='comment.png') }}" class="mr-1 " width="19" height="19">
                                            <small>COMMENT</small>
                                        </a>
                                        <span class="vl mr-2 ml-0"></span> -->
                                        <a href="{{ url_for('posts.post', post_id=post_data[-2].id, page=comments.page, starc=comment[-2].id) }}" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                        {% if comment[-1] == True %}
                                            <img src="{{ url_for('static', filename='christmas-star.png') }}" class="mr-1" width="19" height="19">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='star.png') }}" class="mr-1" width="19" height="19">
                                        {% endif %}
                                        </a>
                                        <small>STARS</small>
                                    </div>
                                    <div class="col-md-auto">
                                        <ul class="list-inline mt-1 mb-0">
                                            {% for user in comment[:-2] %}
                                            <li class="list-inline-item">
                                                <a href="{{ url_for('users.user_profile', username=user.username) }}" >
                                                    <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="DP" class="rounded-circle" width="35" height="35">
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="container d-flex justify-content-center">
                    {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if comments.page == page_num %}
                            <a class="mt-4 mb-4 mr-1 btn btn-violet" href="{{ url_for('posts.post', post_id=post_data[-2].id, page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                                <a class=" mt-4 mb-4 mr-1 btn btn-outline-violet" href="{{ url_for('posts.post', post_id=post_data[-2].id, page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- comments -->
        </div>
    </div>
</div>
<!-- sidebar -->
<div class="col-md-4">
    <div class="content-section shadow-sm">
        <div class="mb-3 text-center">
            <h3>Adage Stats</h3>
        </div>
        <ul class="list-group">
            <a href="{{ url_for('posts.new_post') }}">
                <li class="list-group-item list-group-item-light">SURPRISE</li>
            </a>
        </ul>
    </div>
    <div class="content-section shadow-sm">
        <div class="mb-3 text-center">
            <h3>Best Comments</h3>
        </div>
        <ul class="list-group">
            <a href="{{ url_for('posts.new_post') }}">
                <li class="list-group-item list-group-item-light">SURPRISE 2</li>
            </a>
        </ul>
    </div>
</div>
{% endblock content %}
