{% extends "layout.html" %}
{% block content %}
<div class="row py-5 px-4">
    <div class="col-md-8">
        <div class="mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="..." width="130" class="rounded mb-2 img-thumbnail img-profile">
                            {% if current_user == user %}
                                <a href="#" class="btn btn-outline-violet btn-sm btn-block">Edit profile</a>
                            {% endif %}
                            </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{ user.username }}</h4>
                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Sydney</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ num_posts }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Posts</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ num_likes }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Stars</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ num_comments }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Comments</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">Web Developer</p>
                        <p class="font-italic mb-0">Lives in Sydney</p>
                        <p class="font-italic mb-0">Aircraft Pilot</p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Posts</h5>
                    </div>
                    <!-- posts -->
                    <div class="container">
                        {% for post in posts_data %}
                            <div class="card bg-light mb-5 border-5 pt-2 active pb-0 px-3">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <h3 class="card-title "><b>"{{ post[-2].content }}"</b></h3>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end text-center">
                                            <h6><i>{{ post[-2].author }}</i></h6>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <p class="card-text text-muted small"> Posted by <a href="{{ url_for('users.user_profile', username=post[-2].posted_by.username) }}" class="font-weight-bold text-dark"> {{ post[-2].posted_by.username }}</a> on {{ post[-2].date_posted.strftime('%-d %a, %Y') }}</p>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white px-0 ">
                                    <div class="row">
                                        <div class="col-md-auto ">
                                            <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                                <img src="{{ url_for('static', filename='comment.png') }}" class="mr-1 " width="19" height="19">
                                                <small>COMMENT</small>
                                            </a>
                                            <span class="vl mr-2 ml-0"></span>
                                            <a href="{{ url_for('users.user_profile', username=user.username, page=posts.page, star=post[-2].id) }}" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                                {% if post[-1] == True %}
                                                    <img src="{{ url_for('static', filename='christmas-star.png') }}" class="mr-1" width="19" height="19">
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='star.png') }}" class="mr-1" width="19" height="19">
                                                {% endif %}
                                                <small>STARS</small>
                                            </a>
                                        </div>
                                        <div class="col-md-auto ">
                                            <ul class="list-inline">
                                                {% for user in post[:-2] %}
                                                <li class="list-inline-item">
                                                    <a href="{{ url_for('users.user_profile', username=user.username) }}" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s">
                                                        <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="DP" class=" rounded-circle img-fluid " width="35" height="35">
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if posts.page == page_num %}
                            <a class="btn btn-violet mb-4" href="{{ url_for('users.user_profile', username=user.username, page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-outline-violet mb-4" href="{{ url_for('users.user_profile', username=user.username, page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- posts -->
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar -->
    <div class="col-md-4">
        <div class="content-section">
            <div class="mb-3 text-center">
                <h3>Best List</h3>
            </div>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">"Memento mori"</li>
            <li class="list-group-item list-group-item-light">"Today is a new day"</li>
            <li class="list-group-item list-group-item-light">"Carpe diem"</li>
            <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
            </ul>
            </p>
        </div>
        <div class="content-section">
            <div class="mb-3 text-center">
                <h3>Starred recently</h3>
            </div>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">"Ja nie dam rady?"</li>
            <li class="list-group-item list-group-item-light">"Today is a new day"</li>
            <li class="list-group-item list-group-item-light">"Carpe diem"</li>
            <li class="list-group-item list-group-item-light">"Nie dziel skóry na niedźwiedziu"</li>
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
